.DS_Store
coverage
android
ios
build
.dart_tool/
.flutter-plugins-dependencies
bitswitch-release-key.jks
App Store/bitSwitchIcon_v1.af~lock~
package-lock.json
pubspec.lock
pubspec.lock
.claude/settings.local.json
